<!-- Top Start Here -->
<div class="container">
    <div class="row mt-5">
        <!-- Profile Image -->
        <div class="profile-img">
            <img src="assets/images/profile.jpg" class="rounded" />
        </div>
    </div>
    <div class="row text-center mt-3 title-wrapper">
        <div class="col-12">
            <h1>แบบฟอร์ม</h1>
        </div>
    </div>
</div>
<!-- Top End Here -->
<!-- Content Start Here -->
<div class="container">
    <div class="row" style="margin-left: auto; margin-right: auto;">
        <div class="col-2 col-md-3 border text-center" style="margin:0px 20px 0px 0px;">
            <img src="assets/images/icon/doc.svg" alt="" style="width:80%; padding:20px 0px 20px 0px;">
            <h2 style="padding-bottom:20px;">ปพ.1</h2>
        </div>
        <div class="col-2 border text-center" style="margin:0px 20px 0px 20px;">
            <img src="assets/images/icon/doc.svg" alt="" style="width:80%; padding:20px 0px 20px 0px;">
            <h2 style="padding-bottom:40px;">ปพ.1</h2>
        </div>

        <div class="col-2 border text-center" style="margin:0px 20px 0px 20px;">
            <img src="assets/images/icon/doc.svg" alt="" style="width:80%; padding:20px 0px 20px 0px;">
            <h2 style="padding-bottom:40px;">ปพ.1</h2>
        </div>

        <div class="col-2 border text-center" style="margin:0px 20px 0px 20px;">
            <img src="assets/images/icon/doc.svg" alt="" style="width:80%; padding:20px 0px 20px 0px;">
            <h2 style="padding-bottom:40px;">ปพ.1</h2>
        </div>

        <div class="col-2 border text-center" style="margin:0px 0px 0px 20px;">
            <img src="assets/images/icon/doc.svg" alt="" style="width:80%; padding:40px 40px 40px 40px;">
            <h2 style="padding-bottom:40px;">ปพ.1</h2>
        </div>


    </div>
</div>
<!-- Content End Here -->