@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
    font-family: 'Kanit', sans-serif;
    background-image: -moz-linear-gradient( -90deg, rgb(37, 34, 113) 0%, rgb(142, 99, 50) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(37, 34, 113) 0%, rgb(142, 99, 50) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(37, 34, 113) 0%, rgb(142, 99, 50) 100%);
    background-attachment: fixed;
}

.colour {
    color: black;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper.card {
    display: inline-block;
}

.profile-img {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img img {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.formname {
    margin-left: auto;
    margin-right: auto;
}