@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
    font-family: 'Kanit', sans-serif;
    background-image:-moz-linear-gradient( -90deg, rgb(37,34,113) 0%, rgb(142,99,50) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(37,34,113) 0%, rgb(142,99,50) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(37,34,113) 0%, rgb(142,99,50) 100%);
    background-attachment:fixed;
}
